*{
	margin:0;
	padding:0;
}
header {
  width: 100%;
  position: fixed;
  z-index: 100;
}
.navbar-default .navbar-collapse ul>li>a:hover{
	background:#ccc;
}
.fondo,.documental,.hackathon,.form{
	margin-bottom:50px;
}
.fondo{
	background:url(../img/home.jpg);
	background-size:cover;
}

.hero{
	padding:200px;
	text-align:center;
}
.hero h2{
	color:white;
}
.button_hero{
	color:white;
	background:#2874A6;
	height:40px;
	font-size:18px;
	border-radius:6px;
	padding:5px 13px;
	border:1px solid #2874A6 ;
}
.documental h2{
	margin-bottom:50px;
}
.hackathon{
	background:yellow;
	padding:40px 0;	
}

input,textarea{
	margin:5px 0;
	padding:0 7px;
	border-radius:5px;
	border:2px solid #CCC;
	width:300px;
}
textarea{
	height:100px;
}
form input{
	margin-bottom:8px;
}
.button_form{
	color:white;
	background:#2874A6;
	font-size:13px;
	border-radius:3px;
	padding: 5px 7px;
	border:1px solid #2874A6 ;
}
footer{
	background:#21618C;
	color:white;
	padding:20px 10px 30px 10px;
}
footer span{
	color:yellow;
}
@media screen and (max-width:700px) {
	.hero{
		padding:20px;
		margin-top:40px;
	}
	.fondo{
		margin-top:20px;
	}

}
