*{
	margin:0;
	padding:0;
}
body{
	background:#FFFFFA;
}
header{
	width:100%;
}
header nav{
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#024029;
}
.menu_bar{
	display:none;
}
header nav ul{
	overflow:hidden;
}
header nav ul li{
	float:right;
}
header nav ul li a:hover{
	background:#CCC;
}

/**/
header{
	background:#F2F4F4  ;
	color:#85929E;
	padding:6px 0;
}
header ul{
	text-align:right;
	margin:10px 0;
}
header li{
	display:inline-block;
}
header a{
	text-decoration:none;
	color:#85929E;
	padding:0px 8px;
}
/**/
.fondo,.documental,.hackathon,.form{
	margin-bottom:50px;
}
.fondo{
	background:url(../img/home.jpg);
	background-size:cover;
}


.hero{
	padding:200px;
	text-align:center;
}
.hero h2{
	color:white;
}
.button_hero{
	color:white;
	background:#2874A6;
	height:40px;
	font-size:18px;
	border-radius:6px;
	padding:5px 13px;
	border:1px solid #2874A6 ;
}
.documental h3{
	padding:30px 0;
}
.hackathon{
	background:yellow;
	padding:40px 0;	
}

input,textarea{
	margin:5px 0;
	padding:0 7px;
	border-radius:5px;
	border:2px solid #CCC;
	width:300px;
}
textarea{
	height:100px;
}
.button_form{
	color:white;
	background:#2874A6;
	font-size:13px;
	border-radius:3px;
	padding: 5px 7px;
	border:1px solid #2874A6 ;
}
footer{
	background:#21618C;
	color:white;
	padding:20px 10px 30px 10px;
}
footer span{
	color:yellow;
}

@media screen and (max-width:700px) {
	header nav{
		width:80%;
		height:100%;
		margin:0;
		position:fixed;
		left:-100%;
	}

	header nav ul li{
		display:block;
		float:none;
		border-bottom:#CCC;
	}
	.menu_bar{
		display:block;
		width:100%;
		background:#CCC;
	}
	.menu_bar .bt-menu{
		display:block;
		padding:20px;
		background:#024029;
		color:white;
		text-decoration:none;
		font-weight:bold;
		font-size:15px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}

